@import '../../common/colors.scss';

.schedule {
    margin: 16px 0px;
    padding: 15px;
    border-radius: 8px;
    height: 100%;
    color: $primary;
    display: flex;
    flex-direction: column;

    .tabsHolder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .tab {
            height: 35px;
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;

            &.selected {
                border: 1px solid $primary;
                border-bottom: 3px solid $primary;
            }
        }
    }

    .divider {
        margin: 5px 0px;
        width: 90%;
        height: 2px;
        background-color: $primary;
    }

    .dividerSmall {
        margin: 3px 0px;
        width: 90%;
        height: 1px;
        background-color: $light;
    }

    .contentHolder {
        margin: 10px 0px;
        padding: 15px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: black, $alpha: 0.2);
        border-radius: 15px;

        .content {
            width: 100%;
            min-height: 250px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contentHeader {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

        }

        .contentDetails,
        .tasksHolder,
        .leaveContainer {
            font-size: 12px;
        }

        .contentDetails {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .detailsHolder {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .time {
                    width: 20%;
                }

                .details {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;

                    .detail {
                        padding: 5px 0;
                    }
                }
            }
        }

        .tasksHolder {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .userDataTable {
                border-collapse: collapse;
                width: 90%;
            }

            .tableHeader,
            .tableRow,
            .taskProgressionRow {
                border: 1px solid $table-header-bg;
            }

            .tableHeader {
                background-color: $table-border;
            }

            .employeeColumn,
            .plannedTasksColumn,
            .statusColumn {
                padding: 8px;
                text-align: left;
            }

            .statusColumn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 12px;
                    height: 12px;
                }
            }

            .toggleIcon {
                cursor: pointer;
            }

            .taskProgressionRow td {
                padding: 8px;
                font-style: italic;
            }

            .tableRow td {
                border-left: 1px solid $table-header-bg;
                border-right: 1px solid $table-header-bg;
            }


            .onTrack {
                color: $status-onTrack;
                border: 2px solid $status-onTrack;
            }

            .risk {
                color: $status-risk;
                border: 2px solid $status-risk;
            }

            .archived {
                color: $status-archived;
                border: 2px solid $status-archived;
            }
        }

    }

    .leaveContainer {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .leaves,
        .holidays {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .leave {
                padding: 5px 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .leaveHeading {
            font-size: 14px;
            font-weight: bold;
        }

    }



}


@media only screen and (min-width: 700px) {
    .tab {
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }
}