@import '../../common/colors.scss';

.calendar {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    margin: 0;
    color: black;
    background-color: $contrast;

    .logo {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 30px;

        span:nth-child(1) {
            color: $primary;
        }

        span:nth-child(2) {
            padding: 0 10px;
            font-size: 14px;
            font-family: 'Roboto Mono', monospace;
            color: $light;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .monthSelector {
            background-color: $contrast;
            color: $primary;
            height: 35px;
            border-radius: 8px;
            cursor: pointer;
            border: 1px solid $primary;
        }

        .yearSelector {
            background-color: $contrast;
            color: $primary;
            height: 35px;
            border-radius: 8px;
            cursor: pointer;
            border: 1px solid $primary;
        }
    }

    .days {
        display: flex;
        gap: 8px;
        font-weight: bold;
    }

    .dayName {
        font-weight: 700;
    }

    .dayName,
    .day {
        width: 14.2857%;
        text-align: center;
        padding: 8px;
        box-sizing: border-box;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .day {
        border: 1px solid #eee;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        span {
            display: block;
        }

        &.active {
            background-color: $light;
            color: $contrast;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 700px) {
    .calendar {
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid $light;
    }
}