$primary: #000000;
$primary-rgb: rgb(0, 0, 0);
$contrast: #ffffff;
$contrast-rgb: rgb(255, 255, 255);
$light: #8d8d8d;
$light-rgb: rgb(140, 140, 140);
$border: #ccc;
$border-rgb: rgb(204, 204, 204);
$table-header-bg: #dddddd;
$table-header-bg-rgb: rgb(221, 221, 221);
$table-border: #f2f2f2;
$table-border-rgb: rgb(242, 242, 242);
$status-onTrack: #00a01b;
$status-onTrack-rgb: rgb(0, 160, 27);
$status-risk: #b60000;
$status-risk-rgb: rgb(182, 0, 0);
$status-archived: #000000;
$status-archived-rgb: rgb(0, 0, 0);